body {
	background-color:#f3f8ff;
	color:#5a72aa;
}

a {
	color: #5a72aa;
}

p {
	font-size: 1.3em;
	font-weight: 100;
}

nav {
	background-color: #5a72aa;
}

nav li {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 1.5em;
}

nav li a {
	color: #f3f8ff;
}

h2.tagline {
	font-size: 1.5em;
	font-weight: 300;
}