<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - Arduino For Kids -- kid-friendly projects for the arduino microprocessor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
	<script type="text/javascript" src="//use.typekit.net/unu1fsf.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="js/jquery.js"></script>
	</head> 
	<body>
		<header>
			<h1>Arduino for Kids</h1>
			<h2 class="tagline">This is the tagline</h2>
		</header>
		{% include nav.html %}
		{{ content }}
	</body>
</html>
